version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: kiet
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: demo_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kiet -d demo_db"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: spring_api
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo_db
      SPRING_DATASOURCE_USERNAME: kiet
      SPRING_DATASOURCE_PASSWORD: secret123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"
    networks:
      - app_network

networks:
  app_network:
volumes:
  postgres_data:
